{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body class="thanks">
        <header class="container">
            <div class="center text-center ">
                <h1 class="uppercase red-color welcome-text fw-extrabold"> gulsan Club</h1>
                <div class="title fw-bold dark mt-1">Election For the Year 2024-2025</div>
            </div>
        </header>


        <main>
            <section>
                <div class="container">
                    <div class=" w-100 flex-center w ">
                        <img class="w-25" src="{% static 'images/thanks.gif' %}" alt="">
                    </div>
                </div>
            </section>
        </main>
    </body>
    <script>
        setTimeout(() => {
            window.location.href = "{% url 'dashboard' %}";
        }, 5000);
    </script>
{% endblock %}
